
{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macro%}

{% block content %}
<div class="container">
    <div class="col-sm-4">
        <h1>user profile</h1>
        {{macro.displayuser(user)}}

        <h1>user like</h1>
        {{likes}}

        <h1>user dislikes</h1>

    </div>
    <h1>Enter pitch</h1>

    <form action="/dashboard" method="POST" class="form-signin">
        {{form.hidden_tag()}}
        <p>
            {{wtf.form_field(form.message)}}
        </p>
        <p>
            {{wtf.form_field(form.category)}}
        </p>
        <p>
            {{form.submit()}}
        </p>
    </form>

</div>  

<li>{{macro.displaypitch(pitch)}}</li>
<form action="/dashboard" method="POST" class="">
    <li name = "">{{pitches.id}}</li>
    <button type="submit" class="btn btn-primary">like</button>
</form>
<form action="/dashboard" method="POST" class="">
    <li name = "">{{pitches.id}}</li>
    <button type="submit" class="btn btn-primary">dislike</button>
</form>

{% endblock %}