{% macro displaypitch(pitch) %}

    {% for pitches in pitch %}  
    <li>
        {{pitches.pitch}} <br>
        {{pitches.category}} <br>
    </li>

    {% endfor %}

{% endmacro %}


{% macro displayuser(user) %}

    {% for users in user %} 
    
    <li>
        {{users.username}} <br>
        {{users.email}}
    </li>

    {% endfor %}

{% endmacro %}


{% macro displaylikes(like) %}

    {% for likes in like %} 
    
    <li>
        {{likes.username}} <br>
        {{likes.email}}
    </li>

    {% endfor %}

{% endmacro %}