{% macro displaypitch(pitch) %}

    {% for pitches in pitch %}  
    <li>
        {{pitches.pitch}} <br>
        {{pitches.category}} <br>
    </li>
    <form action="/dashboard/{{pitches.id}}" method="POST" class="">
        <li name = "">{{pitches.id}}</li>
        <button type="submit" class="btn btn-primary">like</button>
    </form>
    <form action="/dashboard/{{pitches.id}}" method="POST" class="">
        <li name = "">{{pitches.id}}</li>
        <button type="submit" class="btn btn-primary">dislike</button>
    </form>

    {% endfor %}

{% endmacro %}


{% macro displayuser(user) %}

    {% for users in user %} 
    
    <li>
        {{users.username}} <br>
        {{users.email}}
    </li>

    {% endfor %}

{% endmacro %}


{% macro displaylikes(like) %}

    {% for likes in like %} 
    
    <li>
        {{likes.username}} <br>
        {{likes.email}}
    </li>

    {% endfor %}

{% endmacro %}



{% macro displaylikes(like) %}

    {% for likes in like %} 
    
    <li>
        {{likes.username}} <br>
        {{likes.email}}
    </li>

    {% endfor %}

{% endmacro %}



{% macro displaycategory(category) %}

    {% for categorys in category %} 
    
    <li>
        {{pitch}}
    </li>

    {% endfor %}

{% endmacro %}